@tailwind base;
@tailwind components;
@tailwind utilities;

.FilterSection  {
  padding-left: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.selection {
  margin-left: 15px;
}

.selectionF {
  margin-left: 5px;
}
.subm {
  display: flex;
  justify-self: center;
}

:root {
  scrollbar-color: #949cbb #303446;
}

.border-b {
  border-bottom: 2px solid #181926;
  margin-top: 2px;
}

.fadeOutE {
  animation: fadeOut 150ms;
}

.fadeInE {
  animation: fadeIn 150ms;
}

.filterOpenE {
  animation: filterOpen 150ms;
  height: 80vh;
}

.filterCloseE {
  animation: filterClose 150ms;
  height:0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes filterOpen {
  from {
    height: 0px;
  }
  to {
    height: 80vh;
  }
}

@keyframes filterClose {
  from {
    height: 80vh;
  }
  to {
    height: 0px;
  }
}